
@--global-var: 20px;


.u-one {
    color: black;
}

.u-oneA {
    height: 90hv;
}

.u-two {
    width: 100%;

    .u-two-one {
        .u-two-one-one {
            color: black;
        }
        .u-two-one-two {
            color: white;
        }
    }

    .u-two-two {
        color: black;
        width: 100%;
    }
}


.u-three {
    color: green;
}

@--color-grey: #aaaaaa;

.u-after {
    color: @--color-grey;
}
