
@import './imports';
@import './moduleA';

a {
    @a_variable: #f03;
    color: black;

    .wrapper {
        @wrapperVar: #fff;
        font-size: 24px;

        .inner {
            @innerVar: #88a;
            width: 200px;
        }

        .task {

        }
    }
}
